.page {
  padding: 30px;
background-color: #f5e7d0;
  height: 1500px;
  color: #a1b697;
}

.toolbar {
  height: 50px;
  width: 100%;
  color: white;
  background-color: #f8863e;
  padding: 5px;
  font-size: 20px;
  border-radius: 5px/5px;
  margin-bottom: 20px;
}

.characterCard {
  height: 350px;
  width: 350px;
  padding: 10px;
  text-align: center;
  border: 2px solid #f8863e;
  border-radius: 5px/5px;
  margin: 10px;
  background-color: #efefef;
}

.characterCard img {
  width: 100%;
}

.characterCard h5 {
  margin-bottom: 0;
}





.d-flex {
  display: flex;
}

.f-wrap {
  flex-wrap: wrap;
}

.f-column {
  flex-direction: column;
}

.flex1 {
  flex: 1;
}

.j-center {
  justify-content: center;
}

.al-center {
  align-items: center;
}

.s-evenly {
  justify-content: space-evenly;
}

.mar-left-40 {
  margin-left: 40px;
}

.text-center {
  text-align: center;
}

.border-left {
  border-left: 2px solid #f8863e;
}